.button {
    -fx-background-color: #9dff00;
}
.button:disabled {
    -fx-background-color: #c0c0c0;
}
.button:hover {
    -fx-background-color: #66ff33;
}
.button:focused {
    -fx-background-color: #33cc00;
}
.button:pressed {
    -fx-background-color: #80ff00;
}
.button:selected {
    -fx-background-color: #00ff66;
}

.text-field:focused {
    -fx-border-color: #9dff00; /* Cambia el color del borde */
    -fx-border-width: 2px; /* Opcional: puedes ajustar el ancho del borde */
}

/*.table-view:focused {*/
/*    -fx-border-color: #9dff00;*/
/*    -fx-border-width: 2px;*/
/*}*/

/*!* Cambiar el color de fondo y borde de las filas seleccionadas *!*/
/*.table-view .table-row-cell:focused, .table-view .table-row-cell:selected {*/
/*    -fx-background-color: #9dff00;*/
/*    -fx-border-color: #9dff00;*/
/*    -fx-border-width: 2px;*/
/*    -fx-padding: 0;*/
/*    -fx-alignment: CENTER;*/
/*}*/

/*!* Cambiar el color de fondo y borde de las celdas seleccionadas *!*/
/*.table-view .table-cell:focused, .table-view .table-cell:selected {*/
/*    -fx-background-color: #9dff00;*/
/*    -fx-border-color: #9dff00;*/
/*    -fx-border-width: 2px;*/
/*    -fx-padding: 0 5px;*/
/*    -fx-alignment: CENTER;*/
/*}*/

/*!* Asegúrate de que las celdas no tengan padding adicional *!*/
/*.table-view .table-cell {*/
/*    -fx-padding: 0 5px;*/
/*    -fx-alignment: CENTER_LEFT;*/
/*}*/

/*!* Ajusta el padding de las filas *!*/
/*.table-view .table-row-cell {*/
/*    -fx-padding: 0;*/
/*    -fx-alignment: CENTER;*/
/*}*/

/*!* Asegúrate de que las filas seleccionadas no se desalineen *!*/
/*.table-view .table-row-cell:selected .table-cell {*/
/*    -fx-padding: 0 5px;*/
/*    -fx-alignment: CENTER;*/
/*}*/


#lblError {
    -fx-text-fill: #ff0000;
}
