.button {
    -fx-background-color: #9dff00;
}
.button:disabled {
    -fx-background-color: #c0c0c0;
}
.button:hover {
    -fx-background-color: #66ff33;
}
.button:focused {
    -fx-background-color: #33cc00;
}
.button:pressed {
    -fx-background-color: #80ff00;
}
.button:selected {
    -fx-background-color: #00ff66;
}

.text-field:focused {
    -fx-border-color: #9dff00; /* Cambia el color del borde */
    -fx-border-width: 2px; /* Opcional: puedes ajustar el ancho del borde */
}

.table-view:focused {
    -fx-border-color: #9dff00;
    -fx-border-width: 2px;
}

/* Cambiar el color de fondo y borde de las filas seleccionadas */
.table-view .table-row-cell:focused {
    -fx-background-color: #9dff00;
    -fx-border-color: #9dff00;
    -fx-border-width: 2px;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #9dff00;
    -fx-border-color: #9dff00;
    fx-table-cell-border-color: #9dff00;
}

/* Cambiar el color de fondo y borde de las celdas seleccionadas */
.table-view .table-cell:selected {
    -fx-background-color: #9dff00;
    -fx-border-color: #9dff00;
    -fx-border-width: 2px;
    fx-table-cell-border-color: #9dff00;
}

/* Cambiar el color de fondo y borde de las columnas seleccionadas */
.table-column-header:focused {
    -fx-background-color: #9dff00;
    -fx-border-color: #9dff00;
}

.table-view .column-header-background .nested-column-header:focused {
    -fx-background-color: #9dff00;
    -fx-border-color: #9dff00;
}

.table-view .table-cell {
    -fx-table-cell-border-color: transparent;
}

.table-view:focused .table-row-cell:filled:focused .table-cell:filled:focused {
    -fx-table-cell-border-color: #9dff00;
}